<h1>Wines from the wine thing</h1>

<%= form_tag "javascript:void(0)", class: "getInfo"  do %>
	<%= submit_tag("Get Wine", class: "wine_button") %>


<% end %>

  <div class="wineData">
  </div>

<!-- <script type="text/javascript">
</script> -->